#txt1 {
    font-family: "Liberation Serif", "Times New Roman", serif;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    height: 15em;
    box-sizing: border-box;
}
.topPadding {
    padding-top: 12pt;
}
#resultsContainer {
    font-family: monospace;
    float: right;
    min-width: 100ch;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
    box-sizing: border-box;
    white-space: nowrap;
}
#statContainer {
    overflow: auto;
    padding-right: 8pt;
}
span.note {
    font-size: 8pt;
}
footer {
    font-size: 8pt;
}
.hidden {
    visibility: hidden;
}

